@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
  background-color: #ffffff;
  counter-reset: #071c4d;
  font-family: "Montserrat", sans-serif;
}

body a:hover {
  text-decoration: none;
}

hr {
  margin-right: 54px !important;
}

.sidebar-sticky {
  margin-left: 35px;
  margin-top: 40px;
}

.bg {
  background-color: #fafafc;
  -webkit-box-shadow: 3px 1px 10px #ccc;
          box-shadow: 3px 1px 10px #ccc;
}

.px-1 {
  padding-left: 0px !important;
  padding-right: 0px !important;
  position: fixed;
}

.logo {
  margin-bottom: 120px !important;
  margin-top: 35px;
  margin-left: 50px;
  max-width: 180px;
  max-height: 50px;
}

.icon {
  margin-top: -3px;
}

.nav-link {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  color: #bebec0;
  font-size: 16px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav-link.active {
  font-weight: bold;
  color: #071c4d !important;
}

.nav-link.active:hover {
  background-color: #ffa726;
  color: #ffffff !important;
}

.nav-link:hover {
  background-color: #ffa726;
  color: #ffffff;
}

.nav-link img {
  max-height: 30px;
  max-width: 30px;
}

.nav-link img#profile {
  margin-left: 26px !important;
  margin-right: 12px !important;
}

h5 {
  margin: -10px 0 0 110px;
  font-size: 17px !important;
  font-weight: 400 !important;
  color: #727176;
}

h5#genre {
  font-size: 13px !important;
  margin-left: 0;
  margin-top: -15px;
}

h5#duration {
  font-size: 13px !important;
  position: relative;
  float: right;
  margin-top: -38px;
}

h5#rating {
  font-size: 13px !important;
  margin-left: 17px;
  margin-top: -17px;
}

h1 {
  color: #071c4d;
  margin: 100px 0 0 110px;
  font-size: 28px !important;
  font-weight: bold !important;
}

h1#top-rated {
  margin-top: 10px !important;
  margin-left: 97px;
}

.card {
  background-color: none;
  margin: 45px 0 0 60px !important;
  border: none;
  max-width: 400px;
  max-height: 100px;
}

.card .card-text {
  color: #071c4d;
  font-size: 17px;
  font-weight: bold;
}

.card img {
  -webkit-box-shadow: 5px 5px 10px #ccc;
          box-shadow: 5px 5px 10px #ccc;
  border-radius: 25px;
}

.col {
  overflow-x: hidden;
  margin-left: 280px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
}

.row .row-banner {
  height: 400px;
  margin: 0 20px 0 20px;
}

.row .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.row .row-small {
  height: 500px;
  margin: -20px 20px 0 20px;
}

.row .row-small .small-card {
  width: 200px;
}

.row .row-small .small-card .footer-caption .star-small {
  font-size: 9px;
  padding-bottom: 7px;
}

.row .row-small .small-card .footer-caption h5#genre,
.row .row-small .small-card .footer-caption #duration,
.row .row-small .small-card .footer-caption #rating {
  font-size: 11px !important;
}

.row .row-small .small-card .footer-caption h5#duration {
  position: relative;
  float: right;
}

.row .row-small .small-card .card-body-small {
  padding: 8px;
}

.row .row-small .small-card .card-body-small #genre {
  margin: 10px 0 0 0;
}

.row .row-small .small-card img {
  border-radius: 10px;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.fa-star {
  font-size: 10px;
  color: #ffa726;
}

#account-menu {
  float: right;
  font-size: 22px;
  margin-top: 5px;
  margin-right: 100px;
}

#account-menu .fas {
  color: #ccc;
  margin: 0 10px 0 10px;
}

.nav-category {
  margin: 0 0 0 97px;
}

.nav-category .nav-link {
  margin: 25px 5px 10px 0;
  font-size: 13px;
  padding: 5px 13px 5px 13px !important;
}

.nav-category .nav-link:hover {
  border-radius: 20px !important;
  font-weight: bold;
}

.nav-category .active {
  background-color: #ffa726 !important;
  color: #ffffff !important;
  border-radius: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-category-detail {
  margin-left: -5px !important;
}

.nav-category-detail .nav-link {
  margin: 0 5px 0 5px;
  font-size: 12px;
  padding: 2px 10px 2px 10px !important;
  border-radius: 20px !important;
  font-weight: 600;
}

.nav-category-detail .active {
  background-color: transparent !important;
  color: #dad8d7 !important;
  border-radius: 20px;
  padding-top: 0px;
  border: 2px solid !important;
  padding-bottom: 0px;
}

.nav-category-detail:hover .active {
  background-color: transparent !important;
  color: #dad8d7 !important;
  border-radius: 20px;
  padding-top: 0px;
  border: 2px solid !important;
  padding-bottom: 0px;
}

.col-overlay {
  margin: 0 0 0 265px;
  padding-left: 0;
  padding-right: 0;
  position: inherit;
  width: 100%;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.75)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
}

.col-overlay img {
  position: relative;
  z-index: -1;
  display: block;
}

.img-detail-overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-poster {
  margin-left: 245px;
  margin-right: auto;
}

.row-poster {
  margin-top: -160px;
}

.row-poster .poster-header img {
  max-width: 100%;
}

.row-poster .col-3 {
  margin-left: 70px;
  padding: 0 80px 0 80px;
}

.tag {
  color: #999;
  background: #eff2f5;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
  margin-top: 15px;
  display: inline-block;
}

.col-content {
  margin-left: -40px;
}

.col-content h1#movie-title {
  width: 1000px;
  color: #ffffff;
  font-size: 32px !important;
  margin: 0;
}

.col-content p#language {
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 38px;
}

.col-content .row-date {
  font-size: 14px;
  font-weight: 700;
  margin-top: 13px;
  margin-left: 1px;
}

.col-content .row-date p#date {
  color: #ffffff;
  margin-right: 20px;
}

.col-content .row-date p#time {
  color: #ffffff;
}

.col-content .row-date #icon-time {
  margin-top: -17px;
  margin-right: 10px;
  width: 18px;
  fill: #dad8d7;
}

.col-content .row-social {
  position: absolute;
  right: -280px;
  font-size: 38px;
  top: 100px;
}

.col-content .row-social svg {
  margin-right: -10px;
}

.col-content .row-review {
  margin-top: 30px;
  margin-bottom: 15px;
  padding-left: 15px;
}

.col-content .row-review .rating {
  margin-left: 90px;
}

.col-content .row-review .make-vote {
  margin-top: -4px;
}

.col-content .row-review p#percentage {
  margin-top: -33px;
  margin-left: 33px;
  font-size: 26px;
  font-weight: 600;
  color: #333333;
}

.col-content .row-review p#votes {
  margin-top: -13px;
  margin-left: 1.5px;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  color: #999999;
}

.col-content .row-review p#rating {
  margin-top: 6px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: #333333;
}

.col-content .row-review p#caption-rating {
  margin-top: 8px;
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  color: #999999;
}

.col-content .row-review p#caption-rate-it {
  margin-left: 90px;
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  color: #999999;
}

.col-content blockquote#main-synopsis {
  width: 580px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #666666;
}

.col-content p#head-synopsis {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  color: #333333;
}

fieldset,
label {
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/
.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ffa726;
}

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

.row-rating-stars {
  margin-top: -32px;
  margin-left: 37px;
}

.far {
  margin-top: 2px;
  margin-right: 10px;
  color: #999999;
}

.row-schedule .col {
  width: 440px;
  margin-left: 0;
  margin-top: 160px;
}

.row-schedule .col .sidebar-schedule .row {
  background-color: #f9f8f8;
  margin-left: 30px;
  margin-bottom: auto;
  overflow: visible;
  margin-top: 0;
  padding-top: 35px;
  padding-left: 54px;
}

.row-schedule .col .sidebar-schedule .btn-show-more {
  background-color: #ffa726;
  border-radius: 0px !important;
  border: none;
  width: 285px;
  margin-bottom: 20px;
}

.row-schedule .col .sidebar-schedule .btn-show-more :hover {
  -webkit-box-shadow: #727176;
          box-shadow: #727176;
}

.row-schedule .col .sidebar-schedule .name-cinema {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
}

.row-schedule .col .sidebar-schedule .timing {
  font-size: 12px;
  font-weight: 600;
}

.row-schedule .col .sidebar-schedule .timing .time {
  margin-right: 55px;
  line-height: 30px;
}

.row-schedule .col .sidebar-schedule .timing .disabled {
  color: #ccc;
}

.footer {
  padding: 25px 0;
  text-align: center;
  margin-left: 285px;
}

.footer a {
  color: #ffa726;
}

.footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #071c4d;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #ffa726;
}

.modal-content {
  width: 90vw;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.3rem;
  outline: 0;
  margin-left: -360px;
}

.modal-content i {
  cursor: pointer;
}

.modal-content i.fa-chevron-left {
  margin-top: 20px;
  font-size: 100px !important;
}

.modal-content i.fa-times {
  color: #071c4d;
  font-size: 30px !important;
  padding: 1rem 1rem;
  position: absolute;
  right: 7px;
  top: 0;
}

.modal-content .modal-header {
  background-color: #ffa726;
  padding: 30px 20px 30px 20px;
}

.modal-content .modal-header a {
  margin-top: 42px;
  padding: 14px 42px 14px 42px;
  border-color: #071c4d;
  color: #ffffff;
  background-color: #071c4d;
  color: #ffffff;
}

.modal-content .modal-header a:hover {
  border-color: #071c4d;
  background-color: #ffa726;
  color: #ffffff;
}

.modal-content .modal-footer {
  background-color: #071c4d;
}

.modal-content .modal-footer button {
  border-color: #ffa726;
  color: #ffffff;
}

.modal-content .modal-footer button:hover {
  background-color: #ffa726;
}

.modal-content .row-detail-movie .select-title {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 10px;
}

.modal-content .row-detail-movie .select-schedule,
.modal-content .row-detail-movie .select-cinema {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  color: #fff;
}

.modal-content .form-price span {
  color: #ffa726;
  font-size: 20px;
  font-weight: 700;
  margin-top: -18px;
  margin-right: 11px;
}

.modal-content .form-price .total-price {
  color: #071c4d;
  padding: 2px 15px 2px 15px;
  font-size: 20px;
  font-weight: 700;
  border: solid #ffa726 2px;
  border-radius: 10px;
}

.modal-content .form-price .total-price span {
  color: #071c4d;
}

.seat-container {
  margin-top: -55px;
}

.seat-container .seat-row {
  color: #999;
}

.seat-container .rowsVip .seat,
.seat-container .rowsReg .seat {
  float: left;
  margin-left: 5px;
  min-width: 30px;
  border-radius: 8px;
  font-size: 13px;
}

.seat-container .rowsVip .seat :hover,
.seat-container .rowsReg .seat :hover {
  color: #fff;
}

.seat-container .rowsVip .seat a,
.seat-container .rowsReg .seat a {
  color: #999;
}

.seat-container .rowsVip .seatSpace,
.seat-container .rowsReg .seatSpace {
  float: left;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5;
  margin-bottom: 5;
  min-width: 30px;
}

.seat-container .rowsVip .seat {
  border: solid #071c4d 2px;
}

.seat-container .rowsVip .seat:hover,
.seat-container .rowsVip .seatSelected {
  background-color: #071c4d;
}

.seat-container .rowsVip .seat:hover a,
.seat-container .rowsVip .seatSelected a {
  color: #ffffff;
}

.seat-container .rowsReg .seat {
  border: solid #ffa726 2px;
}

.seat-container .rowsReg .seat:hover,
.seat-container .rowsReg .seatSelected {
  background-color: #ffa726;
}

.seat-container .rowsReg .seat:hover a,
.seat-container .rowsReg .seatSelected a {
  color: #ffffff;
}

.seat-container table {
  text-align: center;
  margin: 10px auto 10px auto;
  font-weight: 700;
}

.seat-container table .screen {
  background-color: #ffa726;
  height: 35px;
  width: 1200px;
  color: #fff;
}

.modal {
  top: -15px !important;
  height: auto !important;
}
/*# sourceMappingURL=main.css.map */